@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px;background-color:#0b6ea7;}
.mian{width:1002px; margin:0px auto;}
.back{background:url(../images/bg.jpg) no-repeat; height:612px; width:1002px;}
.name{padding-top:265px; *+padding-top:269px;  width:323px; padding-left:560px;}
.font{font-size:12px; color:#014f80; letter-spacing:0.1em; line-height:28px;margin-top:10px; *+margin-top:15px;}
#font input{border:1px #bababb solid; height:28px;line-height:28px;margin-left:14px;}
.bont{width:82px; height:26px; float:left; margin-top:15px;margin-left:51px;margin-left:55px!important;_margin-left:27px;}
.bont1{width:82px; height:26px; float:left; margin-top:15px;margin-left:28px;margin-left:26px!important;}