body,td,input,select,textarea	{font-family:arial,ו;font-size:9pt;}

input,select,textarea	{background-color:#f9f9f9}
.textfield	{border-top:1 #ffffff; border-left:1 #ffffff; border-right:1 #ffffff; border-bottom:1 #999999; border-style:solid;background-color:#ffffff;vertical-align:bottom;}
.WhiteTitle	{font-size:10.6pt; color:#ffffff; font-weight:bold;}
.WhiteTitle2	{font-size:10.6pt; color:#ff0000; font-weight:bold;}

a:link		{color:#000000;text-decoration:underline;}
a:visited	{color:#000000;text-decoration:underline;}
a:active	{color:#000000;text-decoration:none;}
a:hover		{color:#ff0000;text-decoration:none;}