.td1 {
	border: 1px solid #4C5D8B;
}
td {
	font-size: 12px;
}

.ListMouseOver{
	cursor: hand;
	color:#A30073;
	text-decoration: underline;
}

.ListDefault{
	cursor: hand;
	color:#000000;
	text-decoration: none;
}

.ListHighLight{
	cursor: hand;
	color:#A30073;
	text-decoration: underline;
}