<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 version="2.4"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- <filter>
		<display-name>Struts2BugFilter</display-name>
		<filter-name>Struts2BugFilter</filter-name>
		<filter-class>com.whaty.products.filter.Struts2BugFilter</filter-class>
		<init-param>
			<param-name>characterEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Struts2BugFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	<filter>
        <filter-name>SqlFilter</filter-name>
        <filter-class>com.whaty.platform.filter.SqlFilter</filter-class>
        <init-param>
			<param-name>characterEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
        <init-param>  
            <param-name>badStr</param-name>  
            <param-value>'|%27| and |exec|execute |insert |create |drop |grant | from |use |group_concat|column_name|xp_cmdshell|table_schema|union| where |select |delete |update |\*|master|truncate|declare |script|javascript|expression| or |--|\+|//</param-value>  
        </init-param>
        <init-param>  
            <param-name>insStr</param-name>  
            <param-value>＇|＇| ａnd |ｅxec|ｅxecute |ｉnsert |ｃreate |ｄrop |ｇrant |ｆrom |ｕｓｅ |ｇroup_concat|ｃolumn_name|ｘp_cmdshell|ｔable_schema|ｕnion| ｗhere |ｓelect |ｄelete |ｕpdate |＊|ｍaster|ｔruncate|ｄeclare |ｓcript|ｊavascript|ｅxpression| ｏr |－－|＋|／／</param-value>  
        </init-param>
        <init-param>  
            <param-name>excludeMethods</param-name>  
            <param-value>_abstractAdd|_abstractDetail|_abstractUpdate</param-value>  
        </init-param>   
    </filter>
    <filter-mapping>
        <filter-name>SqlFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SqlFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/FCKeditor/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SessionOutPrivFilter</filter-name>
		<filter-class>
			com.whaty.platform.filter.SessionOutPrivFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionOutPrivFilter</filter-name>
		<url-pattern>/training/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionOutPrivFilter</filter-name>
		<url-pattern>/entity/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionOutPrivFilter</filter-name>
		<url-pattern>/servlet/lmscmijs</url-pattern>
	</filter-mapping>
<!-- 暂时屏蔽课件权限验证
	<filter-mapping>
		<filter-name>SessionOutPrivFilter</filter-name>
		<url-pattern>/CourseImports/*</url-pattern>
	</filter-mapping>
 -->
<!-- 
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>com.whaty.util.ChangeCharsetFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GB2312</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/CourseImports/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ActionContextCleanUp
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
	    <filter-name>Struts2</filter-name>
	    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/config/action-servlet.xml,
			/WEB-INF/config/applicationContext*.xml,
		</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<!-- 
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	-->
	<!-- 配置公式编辑器
	<context-param>
		<param-name>mathEquationPath</param-name>
		<param-value>/usr/local/resin-pro-3.1.9/webapps/scetraining/UserFiles/equation/</param-value>
	</context-param>
	<context-param>
		<param-name>mathEquationUriPath</param-name>
		<param-value>/UserFiles/equation/</param-value>
	</context-param> -->
	<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>
			com.fredck.FCKeditor.connector.ConnectorServlet
		</servlet-class>
		<init-param>
			<param-name>baseDir</param-name>
			<param-value>/UserFiles/</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>overwrite</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsFile</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsFile</param-name>
			<param-value>
				php|php3|php5|phtml|asp|aspx|ascx|jsp|cfm|cfc|pl|bat|exe|dll|reg|cgi|xtp
			</param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsImage</param-name>
			<param-value>jpg|gif|jpeg|png|bmp</param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsImage</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsFlash</param-name>
			<param-value>swf|fla</param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsFlash</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>WhatyUploader</servlet-name>
		<servlet-class>
			com.whaty.editor.uploader.WhatyUploaderServlet
		</servlet-class>
		<init-param>
			<param-name>baseDir</param-name>
			<param-value>/UserFiles/</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>overwrite</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsFile</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsFile</param-name>
			<param-value>
				php|php3|php5|phtml|asp|aspx|ascx|jsp|cfm|cfc|pl|bat|exe|dll|reg|cgi|xtp
			</param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsImage</param-name>
			<param-value>jpg|gif|jpeg|png|bmp</param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsImage</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsFlash</param-name>
			<param-value>swf|fla</param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsFlash</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
<servlet>
      <servlet-name>CXFServlet</servlet-name>
      <servlet-class>
             org.apache.cxf.transport.servlet.CXFServlet
      </servlet-class>
	</servlet>
		<servlet-mapping>
       <servlet-name>CXFServlet</servlet-name>
       <url-pattern>/webservice/*</url-pattern>
</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<url-pattern>
			/FCKeditor/editor/filemanager/browser/default/connectors/jsp/connector
		</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WhatyUploader</servlet-name>
		<url-pattern>
			/FCKeditor/editor/filemanager/upload/whatyuploader
		</url-pattern>
	</servlet-mapping>
	<!-- end -->
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>
			org.apache.struts2.views.JspSupportServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>InitPlatformServlet</servlet-name>
		<servlet-class>
			com.whaty.servlet.InitPlatformServlet
		</servlet-class>
		<init-param>
			<param-name>platformconfigdir</param-name>
			<param-value>/WEB-INF/config/</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!-- 论坛初始化servlet -->
	<servlet>
		<servlet-name>InitForumServlet</servlet-name>
		<servlet-class>
			com.whaty.servlet.InitForumServlet
		</servlet-class>
		<init-param>
			<param-name>forumconfigdir</param-name>
			<param-value>/WEB-INF/config/</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<!-- 完整性约束信息初始化servlet -->
	<servlet>
		<servlet-name>InitDBKeyServlet</servlet-name>
		<servlet-class>
			com.whaty.servlet.InitDBKeyServlet
		</servlet-class>
		<init-param>
			<param-name>dbKeyInfodir</param-name>
			<param-value>/WEB-INF/config/</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<!-- 验证码 -->
	<servlet>
		<servlet-name>authimg</servlet-name>
		<servlet-class>
			com.whaty.platform.sso.web.servlet.AuthImg
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authimg</servlet-name>
		<url-pattern>/sso/authimg</url-pattern>
	</servlet-mapping>
	<!-- 在线人数/登陆人数统计 -->
	<servlet>  
		<servlet-name>rstOnlineNum</servlet-name>  
		<servlet-class>com.whaty.servlet.ResetOnlineNum</servlet-class>  
		<load-on-startup>0</load-on-startup>  
	</servlet>  
	<listener>  
		<listener-class>  
			com.whaty.util.SessionCounter
		</listener-class>  
	</listener> 
	<welcome-file-list>
		<welcome-file>/first.jsp</welcome-file>
		<welcome-file>/login.jsp</welcome-file>
		<welcome-file>/index.html</welcome-file>
		<welcome-file>/index.htm</welcome-file>
	</welcome-file-list>
		<error-page>
		<error-code>401</error-code>
		<location>/error/401.htm</location>
		</error-page>
		<error-page>
		<error-code>403</error-code>
		<location>/error/403.htm</location>
		</error-page>
		<error-page>
		<error-code>404</error-code>
		<location>/error/404.htm</location>
		</error-page>
		<error-page>
		<error-code>500</error-code>
		<location>/error/500.htm</location>
		</error-page>
		<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error/npe.htm</location>
		</error-page>
	<!-- scorm begin -->
	<servlet>
		<servlet-name>InitCoursewareServlet</servlet-name>
		<servlet-class>
			com.whaty.servlet.InitCoursewareServlet
		</servlet-class>
		<init-param>
			<param-name>coursewareConfigFileDir</param-name>
			<param-value>/WEB-INF/config/</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LMSCMIServlet</servlet-name>
		<servlet-class>
			com.whaty.platform.standard.scorm.LMSCMIServlet
		</servlet-class>
		<!-- Load this servlet at server startup time -->
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LMSCMIServlet</servlet-name>
		<url-pattern>/LMSCMIServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LMSCMIServlet</servlet-name>
		<url-pattern>/lmscmi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LMSCMIServlet</servlet-name>
		<url-pattern>/servlet/lmscmi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LMSCMIServletJS</servlet-name>
		<servlet-class>
			com.whaty.platform.standard.scorm.LMSCMIServletJS
		</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LMSCMIServletJS</servlet-name>
		<url-pattern>/servlet/lmscmijs</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>OffLineServlet</description>
		<display-name>OffLineLMSCMIServlet</display-name>
		<servlet-name>OffLineLMSCMIServlet</servlet-name>
		<servlet-class>
			com.whaty.platform.standard.scorm.OffLineLMSCMIServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OffLineLMSCMIServlet</servlet-name>
		<url-pattern>/servlet/OffLineLMSCMIServlet</url-pattern>
	</servlet-mapping>
	<!-- 
	<servlet>
　　		<servlet-name>course</servlet-name>
　　		<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
	　　<init-param>
	　　		<param-name>service-class</param-name>
	　　		<param-value>com.whaty.hessian.HessianCourseImp</param-value>
	　　</init-param>
	　　</servlet>
	　　<servlet-mapping>
	　　		<servlet-name>course</servlet-name>
	　　		<url-pattern>/course</url-pattern>
	　　</servlet-mapping>
	 -->
	<!--
	<servlet-mapping>
		<servlet-name>invoker</servlet-name>
		<url-pattern>/incoming/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>invoker</servlet-name>
		<url-pattern>/incoming/*</url-pattern>
	</servlet-mapping>
	-->
	<jsp-config>
		<taglib>
			<taglib-uri>oscache</taglib-uri>
			<taglib-location>/WEB-INF/oscache.tld</taglib-location>
		</taglib>
	</jsp-config>
	<!-- scorm end -->
	<!-- 页面缓存start -->
	<!-- TODO：这个过滤器必须放在spring初始化之后进行初始化操作，因为它依赖于spring去获得缓存块 -->
	<filter>
		<filter-name>Page-Cache</filter-name>
		<filter-class>com.whaty.framework.cache.pagecache.filter.PageCacheFilter</filter-class>
		<init-param>
			<param-name>cacheName</param-name>
			<param-value>IndexPageCache</param-value>
		</init-param>
		
		<init-param>
			<param-name>pageCacheTTLSeconds</param-name>
			<param-value>30</param-value>
		</init-param>
		 
		<init-param>
			<param-name>scope</param-name>
			<param-value>application</param-value>
		</init-param>
		<init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>Page-Cache</filter-name>
		<url-pattern>/entity/bzz-students/student_announce.jsp</url-pattern>
	</filter-mapping>
	<!-- 页面缓存end -->
	<session-config>     
		<session-timeout>60</session-timeout>
	</session-config>  
	<!-- Lee 2014年12月10日 直播验证Servlet -->
	<servlet>
	      <servlet-name>WebcastCheck</servlet-name>
	      <servlet-class>com.whaty.servlet.WebcastServlet</servlet-class>
	</servlet>
	 <servlet-mapping>
	      <servlet-name>WebcastCheck</servlet-name>
	      <url-pattern>/servlet/WebcastCheck</url-pattern>
	</servlet-mapping>
	<!-- 统计跳转Servlet -->
	<servlet>
	      <servlet-name>StatServlet</servlet-name>
	      <servlet-class>com.whaty.servlet.StatServlet</servlet-class>
	</servlet>
	 <servlet-mapping>
	      <servlet-name>StatServlet</servlet-name>
	      <url-pattern>/servlet/StatServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	      <servlet-name>TestServlet</servlet-name>
	      <servlet-class>com.whaty.servlet.TestServlet</servlet-class>
	</servlet>
	 <servlet-mapping>
	      <servlet-name>TestServlet</servlet-name>
	      <url-pattern>/servlet/TestServlet</url-pattern>
	</servlet-mapping>
</web-app>
