body{
   margin:0px;
   padding:0px;
   background:#e0e0e0;
}
img{ 
    border:0px;
}
.login_bg{
    background:url(images/login_05.jpg) top left no-repeat;
	font-size:14px;
	color:#FFFFFF;
	width:392px;
	height:231px;
	vertical-align:top;
}
.login_input{
    width:185px;
	height:22px;
	border:1px #878787 solid;
	background-color:#ffffe8;
	font-size:14px;
	vertical-align:middle;
	padding-top:8px;
}
.footer{
    border-top:1px solid #ffffff;
	background:#f3f3f3;
	height:50px;
	text-align:center;
	font-size:12px;
	color:#838383;
	line-height:24px;
}